In [3]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
from sklearn.model_selection import train_test_split
import os

In [4]:
filepath = "./Data/3_ML_Dry_Run.csv"
df = pd.read_csv(filepath)
# df = pd.read_csv(os.path.join("Data", "Speed_Dating_Data_columns.csv"))
df

,gender,order,match,sim_int_pct,samerace,age_partner,race_partner,pf_o_att,pref_sincerity,Pref_intell,...,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy_frm_spddting
0,0,4,0,0.14,0,27.0,2.0,35.0,20.0,20.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
1,0,3,0,0.54,0,22.0,2.0,60.0,0.0,0.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
2,0,10,1,0.16,1,22.0,4.0,19.0,18.0,19.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
3,0,5,1,0.61,0,23.0,2.0,30.0,5.0,15.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
4,0,7,1,0.21,0,24.0,3.0,30.0,10.0,20.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,1,5,0,0.64,0,26.0,3.0,10.0,10.0,30.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0
8374,1,4,0,0.71,0,24.0,6.0,50.0,20.0,10.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0
8375,1,10,0,-0.46,0,29.0,3.0,40.0,10.0,30.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0
8376,1,16,0,0.62,0,22.0,4.0,10.0,25.0,25.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0
8377,1,15,0,0.01,0,22.0,4.0,20.0,20.0,10.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0

In [5]:
df.groupby("gender").count()

,order,match,sim_int_pct,samerace,age_partner,race_partner,pf_o_att,pref_sincerity,Pref_intell,pref_fun,...,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy_frm_spddting
gender,,,,,,,,,,,,,,,,,,,,,
0,4184,4184,4105,4184,4155,4164,4164,4164,4164,4155,...,4125,4125,4125,4125,4125,4125,4125,4125,4125,4103
1,4194,4194,4115,4194,4119,4141,4125,4125,4125,4125,...,4174,4174,4174,4174,4174,4174,4174,4174,4174,4174

In [6]:
df2 = df.dropna()
df2 = pd.get_dummies(df2, columns = ["undergra"])
df2

,gender,order,match,sim_int_pct,samerace,age_partner,race_partner,pf_o_att,pref_sincerity,Pref_intell,...,"undergra_colby college, waterville, me",undergra_harvard,undergra_marymount manhattan college,undergra_nyu,undergra_oberlin,"undergra_u of southern california, economics",undergra_ucla,undergra_umass,undergra_university of pennsylvania,undergra_wellesley college
0,0,4,0,0.14,0,27.0,2.0,35.0,20.0,20.0,...,0,0,0,0,0,0,0,0,0,0
1,0,3,0,0.54,0,22.0,2.0,60.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0,10,1,0.16,1,22.0,4.0,19.0,18.0,19.0,...,0,0,0,0,0,0,0,0,0,0
3,0,5,1,0.61,0,23.0,2.0,30.0,5.0,15.0,...,0,0,0,0,0,0,0,0,0,0
4,0,7,1,0.21,0,24.0,3.0,30.0,10.0,20.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8350,1,19,0,0.48,0,24.0,2.0,10.0,15.0,30.0,...,0,0,0,0,0,0,0,0,0,0
8351,1,16,0,0.41,0,26.0,3.0,10.0,10.0,30.0,...,0,0,0,0,0,0,0,0,0,0
8352,1,15,0,0.29,0,24.0,6.0,50.0,20.0,10.0,...,0,0,0,0,0,0,0,0,0,0
8354,1,5,0,0.09,0,22.0,4.0,10.0,25.0,25.0,...,0,0,0,0,0,0,0,0,0,0
8355,1,4,0,-0.32,0,22.0,4.0,20.0,20.0,10.0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
def string_to_number(val):
    return int(''.join(filter(str.isdigit, val)))

In [8]:
df2["mn_sat"] = df2["mn_sat"].map(string_to_number)

In [9]:
df2["tuition"] = df2["tuition"].map(string_to_number)

In [10]:
df2["income"] = df2["income"].map(string_to_number)

In [11]:
df_male = df2.loc[df2["gender"]==1]
df_female = df2.loc[df2["gender"]==0]

In [12]:
X = df2.drop(columns = 'match')
y = df2["match"]
X_male = df_male.drop(columns = ['match' , "gender"])
y_male = df_male["match"]
X_female = df_female.drop(columns = ['match' , "gender"])
y_female = df_female["match"]

In [13]:
X_male_train, X_male_test, y_male_train, y_male_test = train_test_split(X_male, y_male, random_state=42)
X_female_train, X_female_test, y_female_train, y_female_test = train_test_split(X_female, y_female, random_state=42)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [15]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8598130841121495

In [16]:
rf_male = RandomForestClassifier(n_estimators=200)
rf_male = rf_male.fit(X_male_train, y_male_train)
rf_male.score(X_male_test, y_male_test)

0.8708551483420593

In [17]:
rf_female = RandomForestClassifier(n_estimators=200)
rf_female = rf_female.fit(X_female_train, y_female_train)
rf_female.score(X_female_test, y_female_test)

0.8537271448663853

In [18]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
df2.dtypes

gender                                            int64
order                                             int64
match                                             int64
sim_int_pct                                     float64
samerace                                          int64
                                                 ...
undergra_u of southern california, economics      uint8
undergra_ucla                                     uint8
undergra_umass                                    uint8
undergra_university of pennsylvania               uint8
undergra_wellesley college                        uint8
Length: 187, dtype: object

In [19]:
importances = rf.feature_importances_
importances

array([4.86325734e-03, 2.60357380e-02, 3.02878543e-02, 5.95284810e-03,
       2.18283279e-02, 1.27472213e-02, 2.26900003e-02, 2.27811280e-02,
       2.12055391e-02, 2.16241074e-02, 2.33844813e-02, 2.34721714e-02,
       1.22799990e-01, 3.09325766e-02, 1.61006883e-02, 1.72160637e-02,
       2.87673448e-02, 1.74669325e-02, 2.96013807e-02, 3.84066334e-02,
       3.30762912e-02, 1.13014432e-02, 1.56376752e-02, 1.52884262e-02,
       1.05963496e-02, 1.09508431e-02, 8.67109125e-03, 1.42735867e-02,
       1.24400597e-02, 1.60317101e-02, 8.98899324e-03, 1.24927465e-02,
       8.98388594e-03, 1.26808872e-02, 1.36820771e-02, 1.38962907e-02,
       1.47030924e-02, 1.09590754e-02, 1.18038892e-02, 1.23559180e-02,
       1.52947715e-02, 1.30612458e-02, 1.37538218e-02, 1.19400316e-02,
       1.25581390e-02, 1.28745930e-02, 1.08652543e-02, 1.44615909e-02,
       1.34554822e-02, 1.38025177e-02, 1.30000494e-02, 1.30163464e-02,
       1.04541108e-04, 3.60510206e-04, 9.69370094e-07, 3.96146253e-04,
       2.95455075e-04, 4.26713037e-07, 4.91259127e-05, 1.06758768e-03,
       8.92476884e-05, 1.78420027e-04, 4.91364450e-04, 2.51659344e-04,
       8.23827554e-05, 3.02889689e-04, 4.83833253e-05, 6.95205322e-05,
       2.94648370e-05, 6.65191275e-04, 2.14064125e-04, 5.76551595e-04,
       2.22403941e-03, 2.32686382e-04, 1.41418597e-04, 5.33471699e-05,
       6.56592593e-04, 1.62314282e-04, 1.18911577e-04, 1.35328596e-05,
       2.34010439e-04, 6.00339701e-04, 1.32422625e-04, 1.86879314e-08,
       1.07298623e-05, 2.17467042e-04, 2.19742985e-04, 7.81848600e-05,
       9.96840657e-04, 2.34305601e-06, 1.59066656e-04, 2.04995006e-04,
       6.48227103e-04, 9.19190774e-05, 1.42429098e-04, 6.80570860e-07,
       5.20408522e-06, 8.68133761e-04, 2.46650957e-04, 1.40033198e-04,
       4.99533719e-04, 1.57896753e-04, 3.97777758e-05, 8.73160400e-04,
       1.38159729e-04, 2.89281007e-05, 1.61226255e-04, 3.09443389e-04,
       6.28695586e-05, 9.43466606e-05, 3.10646140e-04, 3.78678332e-04,
       1.35216187e-04, 1.98392466e-05, 1.10142995e-04, 8.32526190e-06,
       1.17770073e-04, 1.48635043e-04, 5.51056842e-04, 4.74664712e-05,
       1.88545886e-04, 5.57511984e-05, 2.22543336e-04, 4.69422146e-05,
       8.44131458e-06, 0.00000000e+00, 2.04945364e-06, 4.63750781e-05,
       1.47157312e-04, 9.33160627e-04, 1.33745820e-05, 1.51063749e-04,
       3.54021264e-05, 3.36483616e-04, 7.03907735e-05, 2.17442410e-04,
       5.91828035e-05, 2.07113336e-05, 2.11163191e-04, 9.36728661e-05,
       2.24662427e-04, 1.06041997e-03, 5.87877900e-06, 6.70480366e-06,
       4.80200640e-05, 2.14231021e-04, 4.75438663e-08, 7.54543698e-05,
       2.53915064e-05, 3.07750391e-03, 2.81393185e-04, 4.04919507e-04,
       1.10584434e-05, 3.01627464e-04, 2.08167935e-05, 1.64801689e-04,
       1.14244142e-04, 5.10184335e-04, 0.00000000e+00, 7.65795424e-05,
       1.85998696e-04, 1.07486056e-04, 4.55536016e-04, 1.92197851e-08,
       5.25848248e-04, 6.45043947e-05, 4.34000328e-04, 4.31245504e-05,
       1.51913428e-04, 2.80399581e-04, 2.52669617e-04, 4.78506926e-04,
       3.28139584e-04, 4.38529593e-04, 1.51473830e-03, 3.18721612e-04,
       4.17158457e-04, 3.20748378e-04, 2.08848575e-05, 1.45544299e-05,
       1.82342868e-06, 1.10776415e-04, 5.87954469e-04, 2.31238828e-05,
       1.75653450e-04, 1.31629680e-04])

In [20]:
def round_Feature (x):
    return round(x,6)*100

## Overall Features

In [93]:
# Import Model for all Match Data
features_of_importance = sorted(zip(rf.feature_importances_, X.columns), reverse=True)
feature_df = pd.DataFrame(features_of_importance, columns=["Feature_Percentage" , "Feature"])
feature_df["Feature_Percentage"] = feature_df["Feature_Percentage"].map(round_Feature)
feature_df = feature_df.head(30)
feature_df

    Feature_Percentage               Feature
0              12.2800           dec_partner
1               3.8407      likeness_partner
2               3.3076      partner_says_yes
3               3.0933  overall_attr_partner
4               3.0288           sim_int_pct
5               2.9601       shar_of_partner
6               2.8767        fun_of_partner
7               2.6036                 order
8               2.3472       pref_shared_int
9               2.3384          pref_ambiton
10              2.2781        pref_sincerity
11              2.2690              pf_o_att
12              2.1828           age_partner
13              2.1624              pref_fun
14              2.1206           Pref_intell
15              1.7467        amb_of_partner
16              1.7216      intel_of_partner
17              1.6101       sinc_of_partner
18              1.6032                income
19              1.5638           age_subject
20              1.5295                hiking
21              1.5288              field_cd
22              1.4703              exercise
23              1.4462              concerts
24              1.4274               imprace
25              1.3896              tvsports
26              1.3803              shopping
27              1.3754              clubbing
28              1.3682                sports
29              1.3455                 music

In [95]:

feature_df = feature_df[~feature_df.Feature.str.contains('dec')]
feature_df = feature_df[~feature_df.Feature.str.contains('yes')]
feature_df = feature_df[~feature_df.Feature.str.contains('pf_o_att')]
feature_df = feature_df[~feature_df.Feature.str.contains('order')]
feature_df = feature_df[~feature_df.Feature.str.contains('pref', case=False)]
feature_df = feature_df[~feature_df.Feature.str.contains('tv')]
feature_df = feature_df[~feature_df.Feature.str.contains('yoga')]
feature_df = feature_df[~feature_df.Feature.str.contains('sim_int')]

# Top 8 Overall Features that increase chances of Match
top_feature_df = feature_df.head(10)
top_feature_df = top_feature_df.reset_index(drop = True)
top_feature_df

   Feature_Percentage               Feature
0              3.8407      likeness_partner
1              3.0933  overall_attr_partner
2              2.9601       shar_of_partner
3              2.8767        fun_of_partner
4              2.1828           age_partner
5              1.7467        amb_of_partner
6              1.7216      intel_of_partner
7              1.6101       sinc_of_partner
8              1.6032                income
9              1.5638           age_subject

## Male Features

In [96]:
# Import Model for Male Match Data

male_features_of_importance = sorted(zip(rf_male.feature_importances_, X_male.columns), reverse=True)
male_feature_df = pd.DataFrame(male_features_of_importance, columns=["Feature_Percentage" , "Feature"])
male_feature_df["Feature_Percentage"] = male_feature_df["Feature_Percentage"].map(round_Feature)
male_feature_df = male_feature_df.head(30)
male_feature_df

    Feature_Percentage               Feature
0              14.8394           dec_partner
1               4.3569      partner_says_yes
2               3.4898      likeness_partner
3               3.1888        fun_of_partner
4               3.0844       shar_of_partner
5               2.9708  overall_attr_partner
6               2.7938           sim_int_pct
7               2.4957                 order
8               2.2800       pref_shared_int
9               2.2252           Pref_intell
10              2.1917          pref_ambiton
11              2.1798           age_partner
12              2.1791              pref_fun
13              2.1553        pref_sincerity
14              2.0920              pf_o_att
15              1.9085       sinc_of_partner
16              1.7938        amb_of_partner
17              1.7063      intel_of_partner
18              1.6356                  yoga
19              1.5310           age_subject
20              1.4514                sports
21              1.4449                  date
22              1.4023          race_partner
23              1.3415              concerts
24              1.3388              tvsports
25              1.3187                hiking
26              1.3172                   art
27              1.3085              exercise
28              1.3059                 music
29              1.2966               imprace

In [97]:
# Filter out non-attribute features
male_feature_df = male_feature_df[~male_feature_df.Feature.str.contains('dec')]
male_feature_df = male_feature_df[~male_feature_df.Feature.str.contains('yes')]
male_feature_df = male_feature_df[~male_feature_df.Feature.str.contains('pf_o_att')]
male_feature_df = male_feature_df[~male_feature_df.Feature.str.contains('order')]
male_feature_df = male_feature_df[~male_feature_df.Feature.str.contains('pref', case=False)]
male_feature_df = male_feature_df[~male_feature_df.Feature.str.contains('tv')]
male_feature_df = male_feature_df[~male_feature_df.Feature.str.contains('yoga')]
male_feature_df = male_feature_df[~male_feature_df.Feature.str.contains('sim_int')]
male_feature_df = male_feature_df[~male_feature_df.Feature.str.contains('sport')]

In [98]:
# TOP 8 Features in Males that increase chances of Match
male_top_df = male_feature_df.head(10)
male_top_df = male_top_df.reset_index(drop = True)
male_top_df

   Feature_Percentage               Feature
0              3.4898      likeness_partner
1              3.1888        fun_of_partner
2              3.0844       shar_of_partner
3              2.9708  overall_attr_partner
4              2.1798           age_partner
5              1.9085       sinc_of_partner
6              1.7938        amb_of_partner
7              1.7063      intel_of_partner
8              1.5310           age_subject
9              1.4449                  date

In [99]:
# Note: Date is the infrequency in which a particular man goes out on dates.

In [100]:
# Select ONLY Partner Rated Feature
male_rating_df = male_feature_df[male_feature_df['Feature'].str.contains('partner')]
male_rating_df = male_rating_df[~male_rating_df.Feature.str.contains('likeness')]
male_rating_df = male_rating_df[~male_rating_df.Feature.str.contains('age')]
male_rating_df = male_rating_df[~male_rating_df.Feature.str.contains('race')]

In [101]:
# RATED Attributes that increase chances of Match for Males
male_rating_df = male_rating_df.sort_values('Feature')
male_rating_df = male_rating_df.reset_index(drop=True)
male_rating_df

   Feature_Percentage               Feature
0              1.7938        amb_of_partner
1              3.1888        fun_of_partner
2              1.7063      intel_of_partner
3              2.9708  overall_attr_partner
4              3.0844       shar_of_partner
5              1.9085       sinc_of_partner

## Female Features

In [73]:
## Import Model for Female Match Data

female_features_of_importance = sorted(zip(rf_female.feature_importances_, X_female.columns), reverse=True)
female_feature_df = pd.DataFrame(female_features_of_importance, columns=["Feature_Percentage" , "Feature"])
female_feature_df["Feature_Percentage"] = female_feature_df["Feature_Percentage"].map(round_Feature)
female_feature_df = female_feature_df.head(30)
female_feature_df

    Feature_Percentage                Feature
0               9.6425            dec_partner
1               3.4665            sim_int_pct
2               3.3785       partner_says_yes
3               3.1334   overall_attr_partner
4               3.0575                  order
5               2.9329       likeness_partner
6               2.8587         pref_sincerity
7               2.8405        shar_of_partner
8               2.6684         fun_of_partner
9               2.6159           pref_ambiton
10              2.5858        pref_shared_int
11              2.5683               pf_o_att
12              2.5443            age_partner
13              2.4126            Pref_intell
14              2.3972               pref_fun
15              1.9239         amb_of_partner
16              1.8441       intel_of_partner
17              1.7560            age_subject
18              1.7535        sinc_of_partner
19              1.7493                 income
20              1.7222               exercise
21              1.6220                imprace
22              1.5483                   yoga
23              1.5094               concerts
24              1.5048  exphappy_frm_spddting
25              1.5048               clubbing
26              1.4628               field_cd
27              1.4043           race_partner
28              1.3916                    art
29              1.3808                 sports

In [74]:
# Filter out non-attribute features
female_feature_df = female_feature_df[~female_feature_df.Feature.str.contains('dec')]
female_feature_df = female_feature_df[~female_feature_df.Feature.str.contains('yes')]
female_feature_df = female_feature_df[~female_feature_df.Feature.str.contains('pf_o_att')]
female_feature_df = female_feature_df[~female_feature_df.Feature.str.contains('order')]
female_feature_df = female_feature_df[~female_feature_df.Feature.str.contains('pref', case=False)]
female_feature_df = female_feature_df[~female_feature_df.Feature.str.contains('tv')]
female_feature_df = female_feature_df[~female_feature_df.Feature.str.contains('yoga')]
female_feature_df = female_feature_df[~female_feature_df.Feature.str.contains('sim_int')]
female_feature_df.head(30)

    Feature_Percentage                Feature
3               3.1334   overall_attr_partner
5               2.9329       likeness_partner
7               2.8405        shar_of_partner
8               2.6684         fun_of_partner
12              2.5443            age_partner
15              1.9239         amb_of_partner
16              1.8441       intel_of_partner
17              1.7560            age_subject
18              1.7535        sinc_of_partner
19              1.7493                 income
20              1.7222               exercise
21              1.6220                imprace
23              1.5094               concerts
24              1.5048  exphappy_frm_spddting
25              1.5048               clubbing
26              1.4628               field_cd
27              1.4043           race_partner
28              1.3916                    art
29              1.3808                 sports

In [76]:
# Top 10 Features in Females that increase chances of Match
female_top_df = female_feature_df.head(10)
female_top_df = female_top_df.reset_index(drop = True)
female_top_df

   Feature_Percentage               Feature
0              3.1334  overall_attr_partner
1              2.9329      likeness_partner
2              2.8405       shar_of_partner
3              2.6684        fun_of_partner
4              2.5443           age_partner
5              1.9239        amb_of_partner
6              1.8441      intel_of_partner
7              1.7560           age_subject
8              1.7535       sinc_of_partner
9              1.7493                income

In [77]:
# Featured Attributes that increase chances of Match for Females

female_rating_df = female_feature_df[female_feature_df['Feature'].str.contains('partner')]
female_rating_df = female_rating_df[~female_rating_df.Feature.str.contains('likeness')]
female_rating_df = female_rating_df[~female_rating_df.Feature.str.contains('age')]
female_rating_df = female_rating_df[~female_rating_df.Feature.str.contains('race')]

In [102]:
female_rating_df = female_rating_df.sort_values('Feature')
female_rating_df = female_rating_df.reset_index(drop=True)
female_rating_df

   Feature_Percentage               Feature
0              1.9239        amb_of_partner
1              2.6684        fun_of_partner
2              1.8441      intel_of_partner
3              3.1334  overall_attr_partner
4              2.8405       shar_of_partner
5              1.7535       sinc_of_partner

In [123]:
import plotly.graph_objects as go

attributes=['Ambition', 'Fun', 'Intelligence', 'Attractiveness', 'Shared Interests/Hobbies', 'Sincerity']
importance_m = male_rating_df['Feature_Percentage']
importance_f = female_rating_df['Feature_Percentage']


fig = go.Figure(data=[
    go.Bar(name='Men', x=attributes, y=importance_m, hovertext='The Impotance as Rated by Women'),
    go.Bar(name='Women', x=attributes, y=importance_f, hovertext='The Impotance as Rated by Men')
])
# Change the bar mode
fig.update_layout(barmode='group')

# Add details
fig.update_layout(title_text='Importance of Attribute As Rated By Your Partner')

fig.show()