In [1]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
from sklearn.model_selection import train_test_split
import os

In [2]:
filepath = "./Data/3_ML_Dry_Run.csv"
df = pd.read_csv(filepath)
# df = pd.read_csv(os.path.join("Data", "Speed_Dating_Data_columns.csv"))
df

,gender,order,match,sim_int_pct,samerace,age_partner,race_partner,pf_o_att,pref_sincerity,Pref_intell,...,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy_frm_spddting
0,0,4,0,0.14,0,27.0,2.0,35.0,20.0,20.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
1,0,3,0,0.54,0,22.0,2.0,60.0,0.0,0.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
2,0,10,1,0.16,1,22.0,4.0,19.0,18.0,19.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
3,0,5,1,0.61,0,23.0,2.0,30.0,5.0,15.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
4,0,7,1,0.21,0,24.0,3.0,30.0,10.0,20.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,1,5,0,0.64,0,26.0,3.0,10.0,10.0,30.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0
8374,1,4,0,0.71,0,24.0,6.0,50.0,20.0,10.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0
8375,1,10,0,-0.46,0,29.0,3.0,40.0,10.0,30.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0
8376,1,16,0,0.62,0,22.0,4.0,10.0,25.0,25.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0
8377,1,15,0,0.01,0,22.0,4.0,20.0,20.0,10.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0

In [3]:
df.groupby("gender").count()

,order,match,sim_int_pct,samerace,age_partner,race_partner,pf_o_att,pref_sincerity,Pref_intell,pref_fun,...,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy_frm_spddting
gender,,,,,,,,,,,,,,,,,,,,,
0,4184,4184,4105,4184,4155,4164,4164,4164,4164,4155,...,4125,4125,4125,4125,4125,4125,4125,4125,4125,4103
1,4194,4194,4115,4194,4119,4141,4125,4125,4125,4125,...,4174,4174,4174,4174,4174,4174,4174,4174,4174,4174

In [4]:
df2 = df.dropna()
df2 = pd.get_dummies(df2, columns = ["undergra"])
df2

,gender,order,match,sim_int_pct,samerace,age_partner,race_partner,pf_o_att,pref_sincerity,Pref_intell,...,"undergra_colby college, waterville, me",undergra_harvard,undergra_marymount manhattan college,undergra_nyu,undergra_oberlin,"undergra_u of southern california, economics",undergra_ucla,undergra_umass,undergra_university of pennsylvania,undergra_wellesley college
0,0,4,0,0.14,0,27.0,2.0,35.0,20.0,20.0,...,0,0,0,0,0,0,0,0,0,0
1,0,3,0,0.54,0,22.0,2.0,60.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0,10,1,0.16,1,22.0,4.0,19.0,18.0,19.0,...,0,0,0,0,0,0,0,0,0,0
3,0,5,1,0.61,0,23.0,2.0,30.0,5.0,15.0,...,0,0,0,0,0,0,0,0,0,0
4,0,7,1,0.21,0,24.0,3.0,30.0,10.0,20.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8350,1,19,0,0.48,0,24.0,2.0,10.0,15.0,30.0,...,0,0,0,0,0,0,0,0,0,0
8351,1,16,0,0.41,0,26.0,3.0,10.0,10.0,30.0,...,0,0,0,0,0,0,0,0,0,0
8352,1,15,0,0.29,0,24.0,6.0,50.0,20.0,10.0,...,0,0,0,0,0,0,0,0,0,0
8354,1,5,0,0.09,0,22.0,4.0,10.0,25.0,25.0,...,0,0,0,0,0,0,0,0,0,0
8355,1,4,0,-0.32,0,22.0,4.0,20.0,20.0,10.0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
def string_to_number(val):
    return int(''.join(filter(str.isdigit, val)))

In [6]:
df2["mn_sat"] = df2["mn_sat"].map(string_to_number)

In [7]:
df2["tuition"] = df2["tuition"].map(string_to_number)

In [8]:
df2["income"] = df2["income"].map(string_to_number)

In [9]:
df_male = df2.loc[df2["gender"]==1]
df_female = df2.loc[df2["gender"]==0]

In [10]:
X = df2.drop(columns = 'match')
y = df2["match"]
X_male = df_male.drop(columns = ['match' , "gender"])
y_male = df_male["match"]
X_female = df_female.drop(columns = ['match' , "gender"])
y_female = df_female["match"]

In [11]:
X_male_train, X_male_test, y_male_train, y_male_test = train_test_split(X_male, y_male, random_state=42)
X_female_train, X_female_test, y_female_train, y_female_test = train_test_split(X_female, y_female, random_state=42)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8598130841121495

In [14]:
rf_male = RandomForestClassifier(n_estimators=200)
rf_male = rf_male.fit(X_male_train, y_male_train)
rf_male.score(X_male_test, y_male_test)

0.8586387434554974

In [15]:
rf_female = RandomForestClassifier(n_estimators=200)
rf_female = rf_female.fit(X_female_train, y_female_train)
rf_female.score(X_female_test, y_female_test)

0.8565400843881856

In [16]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
df2.dtypes

gender                                            int64
order                                             int64
match                                             int64
sim_int_pct                                     float64
samerace                                          int64
                                                 ...
undergra_u of southern california, economics      uint8
undergra_ucla                                     uint8
undergra_umass                                    uint8
undergra_university of pennsylvania               uint8
undergra_wellesley college                        uint8
Length: 187, dtype: object

In [17]:
importances = rf.feature_importances_
importances

array([5.04138698e-03, 2.46158630e-02, 3.00933284e-02, 5.62353616e-03,
       2.16249203e-02, 1.29380520e-02, 2.45870193e-02, 2.27189131e-02,
       2.18283174e-02, 2.16416820e-02, 2.29780861e-02, 2.37856868e-02,
       1.28800224e-01, 3.09289879e-02, 1.64340074e-02, 1.74659394e-02,
       2.68387738e-02, 1.66193553e-02, 3.20320785e-02, 3.54895212e-02,
       3.21229959e-02, 1.11443735e-02, 1.59819429e-02, 1.55380704e-02,
       1.03859816e-02, 1.11223534e-02, 8.07062171e-03, 1.36125163e-02,
       1.22363506e-02, 1.66708764e-02, 8.17579282e-03, 1.26840228e-02,
       8.49030654e-03, 1.22515649e-02, 1.39618922e-02, 1.37702021e-02,
       1.56978678e-02, 1.01961300e-02, 1.26312322e-02, 1.28512059e-02,
       1.42224200e-02, 1.25327915e-02, 1.38444711e-02, 1.16168969e-02,
       1.31368308e-02, 1.24698217e-02, 1.14882823e-02, 1.40708761e-02,
       1.32547723e-02, 1.33514204e-02, 1.29484823e-02, 1.29010163e-02,
       1.08462835e-04, 2.78714978e-04, 6.11759886e-06, 3.50243957e-04,
       3.39398820e-04, 1.40707230e-05, 9.33032802e-05, 7.44791898e-04,
       1.56953361e-04, 2.05567150e-04, 4.86887751e-04, 3.63857293e-04,
       1.25121165e-04, 1.50314447e-04, 2.94345947e-05, 8.80518038e-05,
       1.60706686e-05, 4.76116895e-04, 2.81856863e-04, 5.28832521e-04,
       2.03924163e-03, 1.74420848e-04, 1.33579311e-04, 1.51040908e-05,
       6.21845748e-04, 2.73610286e-04, 1.08335018e-04, 0.00000000e+00,
       1.40684318e-04, 6.13770852e-04, 1.55488851e-04, 0.00000000e+00,
       0.00000000e+00, 3.11684939e-04, 2.84829098e-04, 5.99582380e-05,
       7.98422349e-04, 4.58789263e-06, 1.71711624e-04, 2.53537478e-04,
       5.71120202e-04, 4.42679799e-05, 1.47627393e-04, 2.91790655e-07,
       2.33207773e-05, 9.20731614e-04, 2.80302662e-04, 1.23579555e-04,
       6.49049400e-04, 2.28413066e-04, 7.08510823e-05, 9.39140276e-04,
       1.70502621e-04, 4.63119735e-05, 1.72147483e-04, 4.50665338e-04,
       6.34152965e-05, 9.70748583e-05, 2.28032256e-04, 2.27043789e-04,
       1.37311127e-04, 3.34747031e-05, 1.29131093e-04, 9.85223564e-06,
       1.89246735e-04, 1.78241171e-04, 5.63287973e-04, 9.19412444e-05,
       1.43187541e-04, 3.20514943e-05, 2.54102630e-04, 6.02171709e-05,
       9.96876892e-08, 0.00000000e+00, 1.30475590e-05, 3.31739653e-05,
       1.16259896e-04, 1.28111018e-03, 4.00818011e-05, 1.25481282e-04,
       5.05002510e-05, 2.59536986e-04, 8.37532734e-05, 2.06711140e-04,
       8.54137774e-05, 4.31522498e-05, 1.32230315e-04, 1.62799830e-04,
       1.63628040e-04, 1.14140731e-03, 2.63927573e-06, 1.06397632e-05,
       5.70193024e-06, 2.55780497e-04, 1.58946080e-05, 6.84948347e-05,
       3.75816330e-05, 3.80105948e-03, 2.38705014e-04, 4.07577507e-04,
       2.05740375e-05, 2.64031909e-04, 1.63868799e-05, 1.61182942e-04,
       8.72480387e-05, 5.36328113e-04, 0.00000000e+00, 8.03649671e-05,
       1.05510511e-04, 4.04366921e-05, 3.87982534e-04, 1.78447868e-05,
       4.17155510e-04, 3.78645607e-05, 3.18292570e-04, 4.52317958e-05,
       1.61456473e-04, 2.89353241e-04, 2.74853308e-04, 2.75850237e-04,
       3.43886300e-04, 2.64027790e-04, 1.19493759e-03, 3.32905090e-04,
       4.54762824e-04, 2.99720084e-04, 2.75342653e-05, 3.82597692e-06,
       0.00000000e+00, 1.66749752e-04, 5.00872806e-04, 1.48936651e-05,
       7.75316512e-05, 1.96964417e-04])

In [18]:
def round_Feature (x):
    return round(x,6)*100

In [19]:
features_of_importance = sorted(zip(rf.feature_importances_, X.columns), reverse=True)
feature_df = pd.DataFrame(features_of_importance, columns=["Feature_Percentage" , "Feature"])
feature_df["Feature_Percentage"] = feature_df["Feature_Percentage"].map(round_Feature)
feature_df.head(52)

    Feature_Percentage                Feature
0              12.8800            dec_partner
1               3.5490       likeness_partner
2               3.2123       partner_says_yes
3               3.2032        shar_of_partner
4               3.0929   overall_attr_partner
5               3.0093            sim_int_pct
6               2.6839         fun_of_partner
7               2.4616                  order
8               2.4587               pf_o_att
9               2.3786        pref_shared_int
10              2.2978           pref_ambiton
11              2.2719         pref_sincerity
12              2.1828            Pref_intell
13              2.1642               pref_fun
14              2.1625            age_partner
15              1.7466       intel_of_partner
16              1.6671                 income
17              1.6619         amb_of_partner
18              1.6434        sinc_of_partner
19              1.5982            age_subject
20              1.5698               exercise
21              1.5538               field_cd
22              1.4222                 hiking
23              1.4071               concerts
24              1.3962                 sports
25              1.3844               clubbing
26              1.3770               tvsports
27              1.3613                imprace
28              1.3351               shopping
29              1.3255                  music
30              1.3137                     tv
31              1.2948                   yoga
32              1.2938           race_partner
33              1.2901  exphappy_frm_spddting
34              1.2851                    art
35              1.2684                   date
36              1.2631                museums
37              1.2533                 gaming
38              1.2470                theater
39              1.2252               career_c
40              1.2236               imprelig
41              1.1617                reading
42              1.1488                 movies
43              1.1144             met_before
44              1.1122                tuition
45              1.0386                 mn_sat
46              1.0196                 dining
47              0.8490                 go_out
48              0.8176                   goal
49              0.8071                   race
50              0.5624               samerace
51              0.5041                 gender

In [21]:
feature_att_df = feature_df[feature_df['Feature'].str.contains('partner')]
feature_att_df = feature_att_df.drop(0)
feature_att_df.head(20)

    Feature_Percentage               Feature
1               3.5490      likeness_partner
2               3.2123      partner_says_yes
3               3.2032       shar_of_partner
4               3.0929  overall_attr_partner
6               2.6839        fun_of_partner
14              2.1625           age_partner
15              1.7466      intel_of_partner
17              1.6619        amb_of_partner
18              1.6434       sinc_of_partner
32              1.2938          race_partner

In [22]:
male_features_of_importance = sorted(zip(rf_male.feature_importances_, X_male.columns), reverse=True)
male_feature_df = pd.DataFrame(male_features_of_importance, columns=["Feature_Percentage" , "Feature"])
male_feature_df["Feature_Percentage"] = male_feature_df["Feature_Percentage"].map(round_Feature)
male_feature_df = male_feature_df.head(51)
male_feature_df

    Feature_Percentage                Feature
0              15.4511            dec_partner
1               3.9262       partner_says_yes
2               3.5232       likeness_partner
3               3.2985         fun_of_partner
4               3.2637        shar_of_partner
5               2.8564            sim_int_pct
6               2.7985   overall_attr_partner
7               2.4350                  order
8               2.3350               pf_o_att
9               2.2653           pref_ambiton
10              2.2218        pref_shared_int
11              2.2153            age_partner
12              2.1549         pref_sincerity
13              2.0635               pref_fun
14              2.0061            Pref_intell
15              1.8237        sinc_of_partner
16              1.6785       intel_of_partner
17              1.6469         amb_of_partner
18              1.4868            age_subject
19              1.4581                     tv
20              1.4569                 income
21              1.4561                   yoga
22              1.3735           race_partner
23              1.3713                imprace
24              1.3585               concerts
25              1.3433                   date
26              1.3250                theater
27              1.3196               field_cd
28              1.3093               tvsports
29              1.3046                    art
30              1.2989                 sports
31              1.2829                 gaming
32              1.2810                  music
33              1.2732               exercise
34              1.2668                 hiking
35              1.2465                museums
36              1.2356               shopping
37              1.2097               clubbing
38              1.2018                reading
39              1.1704  exphappy_frm_spddting
40              1.1272                tuition
41              1.1129               career_c
42              1.0996                 movies
43              1.0720                 dining
44              0.9304               imprelig
45              0.9229             met_before
46              0.8737                 mn_sat
47              0.8711                   goal
48              0.8029                 go_out
49              0.7396                   race
50              0.6489               samerace

In [25]:
male_feature_df = male_feature_df[male_feature_df['Feature'].str.contains('partner')]
male_feature_df = male_feature_df.drop(0)
male_feature_df.head(20)

    Feature_Percentage               Feature
1               3.9262      partner_says_yes
2               3.5232      likeness_partner
3               3.2985        fun_of_partner
4               3.2637       shar_of_partner
6               2.7985  overall_attr_partner
11              2.2153           age_partner
15              1.8237       sinc_of_partner
16              1.6785      intel_of_partner
17              1.6469        amb_of_partner
22              1.3735          race_partner

In [ ]:
female_features_of_importance = sorted(zip(rf_female.feature_importances_, X_female.columns), reverse=True)
female_feature_df = pd.DataFrame(female_features_of_importance, columns=["Feature_Percentage" , "Feature"])
female_feature_df["Feature_Percentage"] = female_feature_df["Feature_Percentage"].map(round_Feature)
female_feature_df = female_feature_df.head(51)
female_feature_df